ZIP_FOLDER = "./zipFiles/"
EMAIL_SERVER = ""
EMAIL_USER = ""
EMAIL_PASS = ""
EMAIL_PORT = ""
EMAIL_FROM = ""
EMAIL_FROM_NAME = ""
EMAIL_SUBJECT = ""
EMAIL_TEXT = ""
EMAIL_PROVIDER_TO = ""
EMAIL_PROVIDER_SUBJECT = ""